extends layout

block content

  div#prevDiv.col-md-6
    a#prev.btn.btn-primary.btn-lg(href="#") Prev

  div#nextDiv.col-md-6
    a#next.btn.btn-primary.btn-lg(href="#") Next

  script(src="/socket.io/socket.io.js")
  script(src='javascripts/server.js')
